p {
    font-size: 2.2em;
    color: #999;
    margin-bottom: 0;
    text-align:center;
    }
    h2 {
    font-size: 2.2em;
    margin-top: 0;
    padding-top: 0;
    }
    nav a {
    
    padding: 60px 100px;
    margin-right: 100px;
    text-decoration: none;
    margin-top: 5px;
    display: inline-block;
    background-color: #eee;
    border-radius: 20px;
    }
    nav a:visited, a:link {
    color: #535455;
    }
    nav a:hover {
    color: #57595a;
    background-color: #d5d9db;
    }
    nav a.active {
    color: #039be5;
    }

div { 
    text-align:center; 
    margin: auto;
    }
    div a {
    padding: 20px 50px;
    margin-left: 100%;
    margin-top: 10cm;
    text-decoration: none;
    margin-top: 5px;
    display: inline-block;
    background-color: #eee;
    border-radius: 20px;
    }